@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h2>@Model.Message</h2>

<div>
    <
    <a class="nav-link text-dark" asp-area="" asp-controller="StarWars" asp-action="ViewAllPlanets">Add Another Planet</a>
    <
</div>
