
@{
    ViewData["Title"] = "AddFavoriteStarWarsItems";
}

<h1>Fan Created Successfully</h1>
<h1>Please choose a link to add your favorite star wars items</h1>

<a class="nav-link" asp-area="" asp-controller="StarWars" asp-action="ViewAllPlanets">Add Favorite Planets</a>

